
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p  {
  color: #8f8f8f;
}
/* Containers */
.container-fluid {
  padding: 7% 15%;
}
/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}
/* Headings */
.big-heading {
 font-family: 'Montserrat', sans-serif;
 font-size: 3.5rem;
 line-height: 1.5;
}
.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Navigation bar */
.navbar{
  padding-bottom:2.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif
}
.nav-item {
  padding:0 18px;
}
.nav-link {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Title section */
#title {
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}
/* Title image */
.iphone-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}
/* Section features */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
#features  {
  position: relative;
  z-index: 1;
}
.feature-title {
  font-size: 1.5rem;
}
.feature-box {
  padding: 4.5%;
}
/* Testemonial section */
#testimonials {
  background-color: #ef8172;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius:100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding:100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.card-title {
  font-size: 1.5rem;
}

.pricing-column {
  padding: 2% 3%;
}
/* Call to action */


/* Footer */

.footer-icon-pack {
 margin-bottom: 20px;
}
.footer-icon {
  color: black;
  margin: 0 10px;
}
.footer-icon:hover {
  color:#ef8172;
}
@media (max-width:1028px) {
  .iphone-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
